<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Appcenter-Config.plist
   helloAnimations

   Created by Mykhail Tkachenko on 22.02.2022.
   Copyright (c) 2022 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
  <key>AppSecret</key>
  <string>86cc3d24-f1e2-4d2e-8ba2-cb96fdb63b5c</string>
</dict>
</plist>
